<style>
    .myliq{
        color: aliceblue;
        background-color: brown !important;
        text-align: center;
        padding: 16px 0;
        font-size: 16px;
    }
</style>
{% if section.settings.show_custom_announce %}
  <div class="myliq">
      {{ section.settings.text_custom_announce }}
  </div>
{% endif %}

{% schema %}
    {
      "name": "t:sections.announcement-bar.name",
      "max_blocks": 12,
      "class": "announcement-bar-section",
      "settings": [
            {
              "type": "checkbox",
              "id": "show_custom_announce",
              "default": true,
              "label": "Show this announce"
            },
            {
              "type": "text",
              "id": "text_custom_announce",
              "default": "Hello",
              "label": "Edit announcement"
            }
          ],
      "enabled_on": {
        "groups": ["header"]
      },
      "blocks": [
        {
          "type": "announcement",
          "name": "t:sections.announcement-bar.blocks.announcement.name",
        }
      ],
      "presets": [
        {
          "name": "t:sections.announcement-bar.presets.name",
          "blocks": [
            {
              "type": "announcement"
            }
          ]
        }
      ]
    }
    {% endschema %}
    