<style>
    .myliq{
        color: aliceblue;
        background-color: brown !important;
        text-align: center;
        padding: 16px 0;
        font-size: 16px;
    }
</style>
{% if sections.blocks.settings %}
  <div class="myliq">
      Hello World
  </div>
{% endif %}

{% schema %}
    {
      "name": "t:sections.announcement-bar.name",
      "max_blocks": 12,
      "class": "announcement-bar-section",
      "enabled_on": {
        "groups": ["header"]
      },
      "blocks": [
        {
          "type": "announcement",
          "name": "t:sections.announcement-bar.blocks.announcement.name",
          "settings": [
            {
              "type": "checkbox",
              "id": "text",
              "default": true,
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "t:sections.announcement-bar.presets.name",
          "blocks": [
            {
              "type": "announcement"
            }
          ]
        }
      ]
    }
    {% endschema %}
    