<style>

</style>

<div class="myparentcls">
    <div class="mychildcls">Hi world</div>
    <div class="mychildcls">Hi world</div>
    <div class="mychildcls">Hi world</div>
</div>



{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}